<h1>Edit games list</h1>
<%= form_for :game, url: game_path(@game), method: :patch do |f| %>
  <% if @game.errors.any? %>
    <% @game.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg%></div>
    <% end %>
  <% end %>
<%= render 'form'%>
<% end %>
